{% extends "main_page.html" %}
{% block title %} Updating the Database... {% endblock %}
{% block content %}
<table class="update">
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% for item in form1 %}
        <tr>
        {{item.label}} {{item}}
        <br><br>
        {% if item.help_text %}
        {{item.help_text|safe}}
        {% endif %}
        </tr>
        {% endfor %}
        <input type="submit" value="Update" id="">
    </form>
</table>
{% endblock %}
